{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  // Indent with 2 spaces
  "rules": {
    "indent": ["warn", 2]
  }
}